@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


  @media screen and (max-width: 2560px) {
    .center {
      position: absolute;
      right: 2046px;
      top: 14px;
    }
    .spaceBar{
      color: white;
      position: fixed;
      /* top: 44%; */
      margin-top: 382px;
      left: 1001px;
      font-family: "Press Start 2P", cursive;
      font-size: 15px;
      animation: taadaa 1.5s infinite;
    }
  }
  @media screen and (max-width: 1600px) {
    .center {
      position: absolute;
      right: 1483px;
      top: 14px;
    }
    .spaceBar{
      color: white;
      position: fixed;
      /* top: 44%; */
      margin-top: 382px;
      left: 596px;
      font-family: "Press Start 2P", cursive;
      font-size: 15px;
      animation: taadaa 1.5s infinite;
    }
  }
  @media screen and (max-width: 1440px) {
    .center {
      position: absolute;
      right: 1483px;
      top: 14px;
    }
    .spaceBar{
      color: white;
      position: fixed;
      /* top: 44%; */
      margin-top: 382px;
      left: 434px;
      font-family: "Press Start 2P", cursive;
      font-size: 15px;
      animation: taadaa 1.5s infinite;
    }
  }
  @media screen and (max-width: 1024px) {
    .center {
      position: absolute;
      right: 1245px;
      top: 13px;
    }
    .spaceBar{
      color: white;
      position: fixed;
      /* top: 44%; */
      margin-top: 382px;
      left: 261px;
      font-family: "Press Start 2P", cursive;
      font-size: 15px;
      animation: taadaa 1.5s infinite;
    }
  }
  
  @media screen and (max-width: 768px) {
    .center {
      position: absolute;
      right: 987px;
      top: 13px;
    }
    .spaceBar{
      color: white;
      position: fixed;
      /* top: 44%; */
      margin-top: 382px;
      left: 261px;
      font-family: "Press Start 2P", cursive;
      font-size: 15px;
      animation: taadaa 1.5s infinite;
    }
  }
  
  @media screen and (max-width: 425px) {
    .center {
      position: absolute;
      right: 651px;
      top: 13px;
    }
    .spaceBar{
      color: white;
      position: fixed;
      /* top: 44%; */
      margin-top: 382px;
      left: 261px;
      font-family: "Press Start 2P", cursive;
      font-size: 15px;
      animation: taadaa 1.5s infinite;
    }
  }
  
  @media screen and (max-width: 320px) {
    .center {
      position: absolute;
      right: 542px;
      top: 13px;
    }
    .spaceBar{
      color: white;
      position: fixed;
      /* top: 44%; */
      margin-top: 382px;
      left: 261px;
      font-family: "Press Start 2P", cursive;
      font-size: 15px;
      animation: taadaa 1.5s infinite;
    }
  }
  
body{
  background: linear-gradient(to bottom, #ff0091, #ed03a7, #d51ebb, #b533ce, #8a43de, #7d3bc7, #6f33b1, #622c9b, #5d1866, #47103b, #2a0d1c, #000000);
}
.back{
  height: 660px;
  width: 1083px;
  position: absolute;
  left: 219px;
  top: -15px;
  z-index: 1;
}
.inicio{
  display: flex;
}
.Fondo{
  width: 800px;
  position: absolute;
  left: 363px;
  border-radius: 27px;
}


@keyframes taadaa { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.despertador{
  position: absolute;
    left: 391px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.play1,.stop1,.play,.stop{
width: 13px;
border: none;
background: none;
margin-left: 10px;
}

.play,.play1{
  // position: absolute;
  // top: 5px;
  // left: 220px;
}
.stop,.stop1{
  // position: absolute;
  // top: 7px;
  // left: 231px;
}
iframe{display:none;}

.soniquete{
  color: white;
  // position: absolute;
  // left: 378px;
  // top: 4px;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
}

.contenedorAbo{
  width: 800px;
  height: 600px;
  
  position: absolute;
  left: 370px;
 
}

.yo{
  width: 100px;
  position: absolute;
  left: 49px;
  top: 79px;
  z-index: 2;
}
.yo1{
  width: 254px;
  position: absolute;
  left: 534px;
  top: 405px;
  border-radius: 59px;

}

.cabecera{
  color: rgb(109 18 18);
  position: absolute;
  left: 63px;
  top: 45px;
  font-family: "Press Start 2P", cursive;
  font-size: 17.2px;
}
.cabecera1{
  color: rgb(248 255 0);
  position: absolute;
  left: 67px;
  top: 44px;
  font-family: "Press Start 2P", cursive;
  font-size: 17px;
}

.parrafo{
  width: 487px;
  background-color: rgba($color: #787878, $alpha: 0.5);

    color: #ffbc00;
    position: absolute;
    left: 190px;
    top: 75px;
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
    text-align: left;
    line-height: 25px;
}
.rrss{
  display: flex;
  position: absolute;
  top: 240px;
  left: 32px;
}
.twiter{
  background: none;
  border: none;
  
 
}
.tw{
  width: 33px;
}

.backAb{
   position: absolute;
   width: 800px;
   height: 600px;
  left: 370px;
  opacity: 100%;

}
canvas{
  width: 827px;
    position: absolute;
    left: 25%;
    border-radius: 27px;
}